<p>Hello {{ user.username }},</p>

<p>This is to inform you that a transfer of ${{amount}} has been successfully done. {{user.first_name}} account to account User Name {{ transfer_account.user.username }} account.</p>

<p>Transfer Details:</p>
<ul>
    <li>Amount: ${{ amount }}</li>
    <li>Transfer To: Account Number {{ transfer_account_no }}</li>
</ul>

<p>If you have any questions or concerns, please contact our support team.</p>

<p>Thank you for choosing our Mamar banking services!</p>

<p>Best regards,<br>
    Mamar Bank</p>